.form-inputs
  .row
    .col-12.col-md-6
      = f.input :name,
        required: true,
        autofocus: true,
        input_html: { autocomplete: 'Nazwa' }
  .row
    .col-6
      = f.input :start_date,
        as: :string,
        required: true,
        input_html: { class: 'datepicker' }
    .col-6
      = f.input :end_date,
        as: :string,
        required: true,
        input_html: { class: 'datepicker' }

  = f.fields_for :address do |ff|
    .row
      .col-12.col-md-6
        = ff.input :address1,
          required: true,
          autofocus: true,
          input_html: { autocomplete: 'Adres 1' }
      .col-12.col-md-6
        = ff.input :address2,
          required: false
    .row
      .col-12.col-md-4
        = ff.input :city,
          required: true,
          autofocus: true,
          input_html: { autocomplete: 'Miasto' }
      .col-12.col-md-4
        = ff.input :zipcode,
          required: true,
          input_html: { autocomplete: 'Kod pocztowy' }
      .col-12.col-md-4
        = ff.input :phone_number,
          required: false,
          input_html: { autocomplete: 'Numer telefonu' }
    .row
      .col-12
        .text-center.p-3.h5
          Przygotowaliśmy dla Ciebie kilka propozycji:
    .row
      .col-12
        = f.association :party_template,
          requied: true
    .row
      .col-12
        .text-center.p-3.h5
          Jeśli żaden z powyższych szablonów Ci nie pomógł, to pozostaw pole puste i stwórz imprezę na własną rękę.
