#page-content
  .container.center-content
    .col-12.pt-5
      - if current_user.parties.exists?
        %h3
          Moje imprezy:
          =link_to 'Stwórz impreze!', new_party_path, class: 'btn btn-success float-right'
        %table.table
          %thead.thead-dark
            %tr
              %th{scope: 'col'} Nazwa:
              %th{scope: 'col'} Data początku:
              %th{scope: 'col'} Data końca:
              %th{scope: 'col'}
          - @parties.each do |party|
            %tbody
              %tr
                %th{scope: 'col'}= party.name
                %td= party.start_date
                %td= party.end_date
                %td
                  = link_to 'Edytuj', edit_party_path(@parties), class: 'btn btn-dark'
      - else
        .center-page.text-center
          %h3 Nie posiadasz żadnej założonej firmy! Oczywiście możesz to zmienić:
          =link_to 'Załóż impreze!', new_party_path, class: 'btn btn-dark'
  - if @pagy.pages > 1
    .row
      .col-12.center-content
        = pagy_bootstrap_nav(@pagy).html_safe






