.container-fluid
  .row
    .col-12.col-md-6.center-content.background-image.background-image__foto3
    .col-12.col-md-6.center-content
      .p-4
        %h2 Zarejestruj się
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            .row
              .col-12.col-md-6
                = f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: 'first_name' }
              .col-12.col-md-6
                = f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: 'last_name' }
            .row
              .col-12.col-md-6
                = f.input :phone_number,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: 'phone_number' }
              .col-12.col-md-6
                = f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: 'email' }
            = f.input :password,
              required: true,
              hint: ('#{@minimum_password_length} znaków minimum' if @minimum_password_length),
              input_html: { autocomplete: 'new-password' }
            = f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: 'new-password' }
          .form-actions
            = f.button :submit, 'Zarejestruj mnie', class: 'btn btn-large btn-dark'
        = render 'devise/shared/links'
