#page-content
  %h2 Zmień swoje hasło
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-inputs
      .row
        .col-12.col-md-6
          = f.hidden_field :reset_password_token
          = f.input :password,
            required: true,
            hint: ("#{@minimum_password_length} znaków minimum" if @minimum_password_length),
            input_html: { autocomplete: 'new-password' }
          = f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: 'new-password' }
    .form-actions
      = f.submit 'Zmień hasło', class: 'btn btn-dark'
  = render "devise/shared/links"
