.row
  .col-12
    %h3
      Pliki:
    - if @files.exists?
      %table.table
        %thead.thead-dark
          %tr
            %th{scope: 'col'} #
            %th{scope: 'col'} Nazwa pliku:
            %th{socpe: 'col'} Link
            %th{scope: 'col'}
        - @files.each do |file|
          %tbody
            %tr
              %th{scope: 'col'}= file.id
              %td= file.name
              %td= link_to file.file.filename, url_for(file.file)
              %td.text-right
                = link_to 'Usuń', company_settings_file_path(@company, file),
                  method: :delete, class: 'btn btn-danger',
                  data: { confirm: 'Czy na pewno?'}
    - else
      .center-page.text-center
        %h4 Nie posiadasz żadnych plików! Oczywiście możesz to zmienić:
    = simple_form_for(@new_file, url: company_settings_files_path) do |f|
      .form-inputs
        .row
          .col-12
            = f.input :name
        .row
          .col-12
            = f.input :file, as: :file
      .form-actions.pt-3
        = f.button :submit, 'Dodaj', class: 'btn btn-large btn-dark'
