- content_for :sidebar do
  = form_for :search, url: companies_path, method: :get, class: 'form-inline my-2 my-lg-0' do
    = hidden_field_tag :category_id, @search_params[:category_id]
    = search_field_tag :query, @search_params[:query], class: 'form-control',
      placeholder: 'Wpisz szukaną frazę'
    %br
    %button.btn.btn-outline-success.my-2.my-sm-0{type: 'submit'} Wyszukaj
    %br
  .list-group.pt-4
    = link_to 'Wszystkie', companies_path(query: @search_params[:query]),
      class: 'list-group-item list-group-item-action'
    - @categories.each do |category|
      = link_to category.name, companies_path(category_id: category.id, query: @search_params[:query]),
        class: 'list-group-item list-group-item-action'
- if @companies.exists?
  .container
    .row
      - @companies.each do |company|
        .col-md-4.text-center.p-3
          .card{style: 'width: 18rem;'}
            = image_tag company.main_photo_url, height: 200, alt: 'Tu miało być foto',
              class: 'img.card-img-top'
            .card-body
              %h5.card-title= company.name
              %hr
              %p.card-text= company.short_description
              %p.card-text= company.address.city
              = link_to 'Zobacz więcej!', company_path(company), class: 'btn btn-dark'
- else
  .center-page.text-center.pt-5
    %h3 Nie posiadamy w katalogu firmy o takich parametrach! Oczywiście możesz to zmienić:
    =link_to 'Załóż firmę', new_users_company_path, class: 'btn btn-dark'
- if @pagy.pages > 1
  .row
    .col-12.center-content
      = pagy_bootstrap_nav(@pagy).html_safe
