#page-content
  .container-fluid
    .row
      .col-md-12.background-image.background-image__foto1.center-content
        %div.text-white
          %h3 Organizujesz impreze?
          %h3 A może masz firmę i chcesz ją zareklamować?
          %h3 Partizer Ci pomoże!
          .text-center
            = link_to "Zarejestruj się już dziś!", new_user_registration_path, class: 'btn btn-large btn-dark'
    .row
      .col-md-6.text-center.background-image.background-image__foto2.center-content
        %h1.text-light Tu będzie jakiś tekst!
      .col-md-6
        .p-4
          %h2 Zaloguj się
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-inputs
              = f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }

              = f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" }
              = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
            .form-actions
              = f.button :submit, "Zaloguj", class: "btn btn-large btn-dark"
          = render "devise/shared/links"


