<!DOCTYPE html>
%html
  %head
    %title Partizer
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %header
    = render 'layouts/header'
  %body.d-flex.flex-column
    = render partial: 'layouts/flash', flash: flash
    = yield
  %footer
    = render 'layouts/footer'
