<!DOCTYPE html>
%html
  = render 'layouts/header'
  %body.d-flex.flex-column
    = render partial: 'layouts/flash', flash: flash
    .row.no-gutters
      .col-3.h-100
        .bg-dark.h-100.text-light.p-3
          %h4= @company.name
          .list-group.pt-4
            = link_to 'Podstawowe informacje', company_settings_basics_path,
              class: 'list-group-item list-group-item-action'
            = link_to 'Podstrony', company_settings_pages_path,
              class: 'list-group-item list-group-item-action'
            = link_to 'Zdjęcia', '',
              class: 'list-group-item list-group-item-action'
            = link_to 'Pliki', '',
              class: 'list-group-item list-group-item-action'
      .col-9
        = yield
  = render 'layouts/footer'
